{% extends 'layout.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center align-items-center" style="height: 500px;">
        <div class="col-md-6">
            <div class="card login-form">
                <div class="card-body">
                    <h3 class="card-title text-center">Login to hrdjango</h3>
                    <div class="card-text">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_username">Username</label>
                                <input type="text" name="username" id="id_username" class="form-control form-control-sm"
                                    required autofocus autocapitalize="none" autocomplete="username" maxlength="150">
                            </div>
                            <div class="form-group">
                                <label for="id_password">Password</label>
                                <input type="password" name="password" id="id_password"
                                    class="form-control form-control-sm" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}